{% extends 'base.html' %}

{% block content %}
    <h1>Todo Group</h1>
    <div class="list-group">
        {% for group in todo_groups %}
        <div class="d-flex w-100 justify-content-between">
        <a href="{% url 'item_main' group.id %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                {% if group.state %}
                <h5 class="mb-1"><strike>{{group.name}}</strike></h5>
                {% else %}
                <h5 class="mb-1">{{group.name}}</h5>
                {% endif %}

            </div>      
        </a>
        <a href="{% url 'update_group' group.id %}" class="btn btn-outline-success text-center">Update</a>

        <a href="{% url 'delete_group' group.id %}" class="btn btn-outline-danger text-center">Delete</a>
    </div>
        {% endfor %}
        
    <form action="{% url 'main'%}" method="POST" class="d-flex">
        {% csrf_token %}
        <!-- <input type="text" name="task" id="" placeholder="What is Next?" class="form-control me-2"> -->
         {{form.as_table}}
        <button type="submit" class="btn btn-primary">Add</button>

    </form>
    </div>
{% endblock %}